:root {
    --dark-green: rgb(25, 83, 25);
    --medium-green: rgb(60, 168, 60);
    --cream: rgb(237, 242, 191);
    --bg-color: rgb(237, 242, 191);
}

body.dark-mode {
    --dark-green: rgb(37, 49, 39);
    --medium-green: rgb(49, 148, 80);
    --cream: rgb(200, 200, 200);
    --bg-color: rgb(20, 20, 20);
}

header {
    background-color: var(--dark-green);
    border:2px solid var(--medium-green);
}

.settings summary {
    color: var(--cream);
}

.settingsDropDown {
    color: var(--cream);              
    background-color: var(--dark-green);
    border: 4px solid var(--medium-green);
}

.settingsDropDown button {
    color: var(--cream);
    background-color: var(--medium-green);
}

h1 {
    color: var(--cream);
}

h2 {
    color: var(--cream);
    border-bottom: 2px solid var(--medium-green);
}

nav a {
    color: var(--cream);
}

.contentBox { /* Basic box used to display main content of the website */
    color: var(--cream);
    background-color: var(--dark-green);
    border:2px solid var(--medium-green);
}

.post { /*box containing individual posts*/
    background-color: rgb(11, 91, 26);
    border:4px solid var(--medium-green)
}

.Summary {
    background-color: var(--dark-green);
    border:2px solid var(--medium-green);
}

.summaryTable {
    color: var(--cream);
    border-top: 2px solid var(--medium-green);
}

.summaryTable th {
    background-color: var(--medium-green);
}

.summaryTable td {
    border-bottom: 2px solid var(--medium-green);
}

body {
    background-color: var(--bg-color);
}

#contactHeaderMessage {
    color: var(--medium-green);
}

form {
    color: var(--cream);
    background-color: var(--dark-green);
    border: 2px solid var(--medium-green);
}

.contactForm input,
.contactForm textarea,
.contactForm button {
    margin: 5px;
    color: var(--cream);
    background-color: var(--medium-green);
}

button:hover {
    background-color:rgb(49, 148, 80)
}

footer {
    color: var(--cream);
    background-color: var(--dark-green);
    border:2px solid var(--medium-green);
}

.snipcart-checkout {
    color: var(--cream);
    background-color: rgb(11, 91, 26);
    border-radius: 2px solid var(--medium-green);
}

.productPageHeader {
    color: var(--cream);
    background-color: var(--dark-green);
    border: 2px solid var(--medium-green);
}

.snipcart-add-item {
    color: var(--cream);
    background-color: var(--medium-green);
}